.content-wrapper {
  margin: auto;
}
.statistics-row {
  .card-body {
    border: 2px solid theme-color(secondary);
  }
  .buy-medicine {
    * {
      transition: 0.15s ease-in-out;
    }
    &:hover {
      cursor: pointer;
      background-color: theme-color(primary);
      border-color: theme-color(primary);
      .fa, .card-text, .text-muted {
        color: theme-color(light) !important;
      }
    }
    .buy-label {
      min-height: 5vh;
      display: flex;
      align-items: center;
    }
  }
}

.expired-medicines {
  table {
    font-size: 1.1rem;
    margin-top: 1.5rem;
    text-align: center;
  }
}

#medicine-sales-chart {
  min-height: 500px;
}
