<% include partials/_header %>
<div class="row row-offcanvas row-offcanvas-right">
  <div class="content-wrapper">
    <h3 class="page-heading mb-4">Dashboard</h3>
    <div class="card-deck">
      <div class="card col-lg-12 px-0 mb-4">
        <div class="card-body">
          <h5 class="card-title">Patients</h5>
          <div class="table-responsive">
            <table class="table center-aligned-table">
              <thead>
                <tr class="text-primary">
                  <th>Name</th>
                  <th>Age</th>
                  <th>Sex</th>
                  <th>Diagnosis</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td>Yash Puthran</td>
                  <td>19</td>
                  <td>Male</td>
                  <td>Eardrum Ruptured</td>
                  <td><a href="#" class="btn btn-outline-success btn-sm" data-toggle="modal"
                      data-target="#historyModal">History</a></td>
                  <td><a href="#" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                      data-target="#prescribeMedicineModal">Prescribe</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/_footer %>
<% include partials/historyModal %>
<% include partials/prescribeMedicineModal %>
