<!DOCTYPE html>
<html>
  <head>
    <title>Alchemy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Alchemy</h1>
    <p>Welcome <%= username %>, you fucker.</p>
  </body>
</html>
