<div class="modal fade" id="buyMedicineModal" tabindex="-1" role="dialog" aria-labelledby="buyMedicineModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="buyMedicineModalTitle">Buy Medicine</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label for="medicineType">Select Medicine</label>
              <select class="form-control" id="medicineType">
                <option value="1">Calpol</option>
                <option value="2">Dolo</option>
                <option value="3">Tusprox</option>
              </select>
            </div>
            <div class="form-group">
              <label for="medicineQuantity">Quantity</label>
              <input type="number" class="form-control" id="medicineQuantity" placeholder="Quantity">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary buy-medicine-button">Buy Medicine</button>
      </div>
    </div>
  </div>
</div>
<script>
  
</script>