<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="historyTitle">History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table center-aligned-table">
                <thead class="text-primary">
                    <th>Name</th>
                    <th>Medicine</th>
                    <th>Description</th>
                </thead>
                <tbody id="history-patient">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
        var history = [];
        try{
            var i = 0;
            while(true){
                history.push(Capsule.patient_history1(i))
                i++;
            }
        } catch(err) {}
        var table = "";
        var medMap = {1: 'Calpol',2: 'Dolo',3: 'Tusprox'};
        var diagMap = {'m': 'Malaria','d': 'Dengue', 't': 'Typhoid'};
        history.map(function(his) {
            table += "<tr><td>" + his[0] + "</td>";
            table += "<td>" + medMap[parseInt(his[1].toString())] + "</td>";
            table += "<td>" + diagMap[his[2]] + "</td></tr>";
        });
        console.log(table);
        document.getElementById('history-patient').innerHTML = table;

    });

</script>
