<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="historyTitle">History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table center-aligned-table">
                <tbody>
                  <tr class="">
                    <td>
                      You Bought <span class="bought-med">Eyedre</span> from <span class="bought-from">Dr. Sumit Puter</span> on <span class="bought-date">09th February 2018</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      You Bought <span class="bought-med">Calpol</span> from <span class="bought-from">Dr. Jayesh Koli</span> on <span class="bought-date">08th February 2018</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
