<div class="modal fade" id="orderReplacementModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="buyMedicineModalTitle">Order Replacement</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <input type="number" class="form-control" id="replacementQuantity" placeholder="Quantity">
            </div>
            <div class="challenge-after success" style="display:none">
              <div class="card card-statistics">
                <div class="card-body">
                  <h4 class="text-success text-center">
                    <i class="fa fa-check highlight-icon" aria-hidden="true"></i>
                  </h4>
                  <h4 class="text-success text-center">
                    Order Confirmed
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="replace" class="btn btn-primary">Order</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#replace").click(function () {
      Capsule.re_order(web3.eth.accounts[1],parseInt($("#replacementQuantity").val()),1);
      $('#orderReplacementModal .success').css('display', 'block');
      $('#orderReplacementModal .form-group').css('display', 'none');
      $('#replace').css('display','none');
    });
  });
    
</script>
