<div class="modal fade" id="prescribeMedicineModal" tabindex="-1" role="dialog" aria-labelledby="prescribeMedicineModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="prescribeMedicineModalTitle">Prescribe Medicine</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="challenge-after success" style="display:none">
              <div class="card card-statistics">
                <div class="card-body">
                  <h4 class="text-success text-center">
                    <i class="fa fa-check highlight-icon" aria-hidden="true"></i>
                  </h4>
                  <h4 class="text-success text-center">
                    Prescription Confirmed
                  </h4>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check form-check-flat">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="flatRadios1" id="flatRadios1" value="c">
                  Calpol
                  <i class="input-helper"></i></label>
              </div>
              <div class="form-check form-check-flat">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="flatRadios2" id="flatRadios2" value="d">
                  Dolo
                  <i class="input-helper"></i></label>
              </div>
              <div class="form-check form-check-flat">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="flatRadios2" id="flatRadios3" value="t">
                  Tusprox
                  <i class="input-helper"></i></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="prescribe-medicine" class="btn btn-primary buy-medicine-button">Prescribe Medicine</button>
      </div>
    </div>
  </div>
</div>
<script>
    $("#prescribe-medicine").click(function(){

        if($("#flatRadios1").is(':checked'))
                Capsule.prescrib(web3.eth.accounts[0],1,"Saurav Kanchan","m",1,web3.eth.accounts[2],{from:web3.eth.accounts[0],gas:3000000})
        if($("#flatRadios2").is(':checked'))
            Capsule.prescrib(web3.eth.accounts[0],2,"Saurav Kanchan","d",1,web3.eth.accounts[2],{from:web3.eth.accounts[0],gas:3000000})
        if($("#flatRadios3").is(':checked'))
            Capsule.prescrib(web3.eth.accounts[0],3,"Saurav Kanchan","m",1,web3.eth.accounts[2],{from:web3.eth.accounts[0],gas:3000000})
        $('#prescribeMedicineModal .form-group').css('display', 'none');
        $('#prescribeMedicineModal .success').css('display', 'block');
        $('#prescribe-medicine').css('display', 'none');
      
    });

</script>
